<table class="keyworth-attr-table">
    <tr><td class="keyworth-attr-name">Name</td><td class="keyworth-attr-value">${name}</td></tr>
    <tr><td class="keyworth-attr-name">Species</td><td class="keyworth-attr-value main-attr">${species}</td></tr>
    <tr><td class="keyworth-attr-name">Latitude</td><td class="keyworth-attr-value lat-lng">${latitude}</td></tr>
    <tr><td class="keyworth-attr-name">Longitude</td><td class="keyworth-attr-value lat-lng">${longitude}</td></tr>
    <tr><td class="keyworth-attr-name">Elevation</td><td class="keyworth-attr-value">${z}</td></tr>
    <tr><td class="keyworth-attr-name">Recorded By</td><td class="keyworth-attr-value">${recordedBy}</td></tr>
    <tr><td class="keyworth-attr-name">Date/Time</td><td class="keyworth-attr-value">${date} ${time}</td></tr>
    <tr><td colspan="2"><img src="/images/observations/${image}"/></td></tr>
</table>
